{{#each comentarios}}
      <div class="comentario">
        
        <h2 class="">
          Anonimo
        </h2>
        <div class="tematicas__content">
          <p class="tematicas__descripcion">{{comentario}}</p>
          <p class="tematicas__descripcion">{{timeago fecha}}</p>
          <p class="tematicas__descripcion">{{calificacion}}</p>
        </div>
      </div>
      {{/each}}