<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 

    <title>
      Document
    </title>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    {{{body}}}
  </body>
  <footer class="footer">
    <p class="footer__contacto">
      Plaza España Av. Libertad 3099
    </p>
    <p class="footer__contacto">
      Tel 473-8791
    </p>
    <p class="footer__contacto">
      museoscaglia@gmail.com
    </p>
  </footer>
  <script src="/js/script.js"></script>
</html>